#work {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#work #title {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 3rem;
}
#work #title > p:nth-child(1) {
  height: 10vh;
  letter-spacing: 15px;
  font-weight: 1000;
}
#work #title > h4 {
  height: 10vh;
  color: #FF6C34;
}
#work > div:nth-child(2) {
  width: 70vw;
  height: 25vh;
  color: #FF6C34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
}

#filgrimage_pageOne {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#filgrimage_pageOne > div:nth-child(1) {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div {
  width: 16.6vw;
  height: 100vh;
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(1) {
  background-image: url(/Image/byun.svg);
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(2) {
  background-image: url(/Image/leejoo.svg);
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(3) {
  background-image: url(/Image/untae.svg);
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(4) {
  background-image: url(/Image/leemin.svg);
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(5) {
  background-image: url(/Image/gugyo.svg);
  background-size: cover;
}
#filgrimage_pageOne > div:nth-child(1) > div:nth-child(6) {
  background-image: url(/Image/jeonteo.svg);
  background-size: cover;
}
#filgrimage_pageOne span {
  opacity: 0;
}
#filgrimage_pageOne span.fade {
  opacity: 1;
  transition: 0.7s ease;
  transform: translateX(50px);
  color: #BA3737;
}

#filgrimage_pageTwo {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-image: url(/Image/actors.svg);
  background-size: cover;
  display: flex;
}
#filgrimage_pageTwo > div:nth-child(1) {
  width: 23vw;
}
#filgrimage_pageTwo #leftPage {
  width: 30vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 80px;
  left: 0;
  top: 0vh;
}
#filgrimage_pageTwo #leftPage > div {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#filgrimage_pageTwo #leftPage > div > h5 {
  font-size: 4rem;
  height: 20vh;
}
#filgrimage_pageTwo #leftPage > div > p {
  width: 20vw;
  text-align: center;
  line-height: 50px;
}
#filgrimage_pageTwo > div:nth-child(3) {
  width: 70vw;
  background-color: #ccc;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage {
  width: 70vw;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage > ul {
  width: 70vw;
  height: 15vh;
  display: flex;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  font-weight: 1000;
  top: 0;
  list-style-type: none;
  font-size: 4rem;
  color: rgb(165, 165, 165);
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #pageOne {
  width: 70vw;
  height: 70vh;
  background-color: #222;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailOne {
  width: 70vw;
  height: 30vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailOne > div:nth-child(1) {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailOne > div:nth-child(1) > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailOne > div:nth-child(1) > p {
  width: 50vw;
  height: 20vh;
  text-align: center;
  line-height: 40px;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #pageTwo {
  width: 70vw;
  height: 70vh;
  background-color: #222;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailTwo {
  width: 70vw;
  height: 30vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailTwo > div:nth-child(1) {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailTwo > div:nth-child(1) > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailTwo > div:nth-child(1) > p {
  width: 50vw;
  height: 20vh;
  text-align: center;
  line-height: 40px;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #pageThree {
  width: 70vw;
  height: 70vh;
  background-color: #222;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailThree {
  width: 70vw;
  height: 30vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailThree > div:nth-child(1) {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailThree > div:nth-child(1) > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailThree > div:nth-child(1) > p {
  width: 50vw;
  height: 20vh;
  text-align: center;
  line-height: 40px;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #pageFour {
  width: 70vw;
  height: 70vh;
  background-color: #222;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFour {
  width: 70vw;
  height: 30vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFour > div:nth-child(1) {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFour > div:nth-child(1) > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFour > div:nth-child(1) > p {
  width: 50vw;
  height: 20vh;
  text-align: center;
  line-height: 40px;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #pageFive {
  width: 70vw;
  height: 70vh;
  background-color: #222;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFive {
  width: 70vw;
  height: 30vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFive > div:nth-child(1) {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFive > div:nth-child(1) > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailFive > div:nth-child(1) > p {
  width: 50vw;
  height: 20vh;
  text-align: center;
  line-height: 40px;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #pageFSix {
  width: 70vw;
  height: 70vh;
  background-color: #222;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailSix {
  width: 70vw;
  height: 30vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailSix > div:nth-child(1) {
  width: 30vw;
  height: 15vh;
  display: flex;
  margin-left: 60px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailSix > div:nth-child(2) {
  width: 31vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
}
#filgrimage_pageTwo > div:nth-child(3) #rightPage #detailSix > div:nth-child(2) > p {
  width: 7vw;
  font-size: 1.5rem;
  text-align: center;
}/*# sourceMappingURL=work-pilgrimage.css.map */