#main{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#9D955E,#9D955E, #383733, #45433D ,#131423,#131423, #131423, #131423);
  // border-bottom: 1px solid #fff;
  // border-top: 1px solid #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
&>div:nth-child(1){
width: 65vw;
height: 5vh;
// border: 1px solid #fff;
display: flex;
justify-content: space-around;

#lightGroup{
    width: 3vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    // position: relative;
    opacity: 0;

    // border: 1px solid #fff;
&>div:nth-child(1){
  width: 3vw;
  height: 2.5vh;
  display: flex;
  justify-content: space-around;
  // background-color: #FF6C34;
  // opacity: 0;


  &>div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 40px 20px #fff,
    0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.1),
    0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.1);
    // opacity: 0;
    
}
}
&>div:nth-child(2){
  width: 3vw;
  height: 2.5vh;
  display: flex;
  justify-content: space-around;
  // background-color: #FF6C34;
  &>div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 40px 20px #fff,
    0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.1),
    0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.1);
    // opacity: 0;

}
}
}



}
  &>div:nth-child(2){
    width: 65vw;
    height: 52vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>div:nth-child(1){
      width: 60vw;
      height: 45vh;
      background-color: #F4F4F4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;

      &>h1{
        font-size: 7rem;
        letter-spacing: 20px;
        color: #FF6C34;
      z-index: 3;
        
      }
      &>p{
        margin-top: 5vh;
        font-size: 2rem;
      z-index: 3;
        
      }
    }
  }
&>div:nth-child(3){
  width: 65vw;
  height: 50vh;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  #rowLine{
    width: 55vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &>hr{
      width: 55vw;
      height: 1px;
      border: 3;
      background-color: #000;
      
    }
  }
  
  #columnLine{
    width: 55vw;
    height: 40vh;
    display: flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    
  
    &>hr{
      border: 3;
      background-color: #000;
      width: 3px;
      height: 32vh;
    }
  }
}


  &>div:nth-child(4){
    width: 65vw;
    height: 5vh;
    // border: 1px solid #fff;
    display: flex;
    justify-content: space-around;
    
    #lightGroup_bottom{
        width: 3vw;
        height: 5vh;
        display: flex;
        flex-direction: column;
        opacity: 0;
        
        // position: relative;
        // border: 1px solid #fff;
    &>div:nth-child(1){
      width: 3vw;
      height: 2.5vh;
      display: flex;
      justify-content: space-around;
      // background-color: #FF6C34;
      &>div{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 40px 20px #fff,
        0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.1),
        0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.1);

    }
    }
    &>div:nth-child(2){
      width: 3vw;
      height: 2.5vh;
      display: flex;
      justify-content: space-around;
      // background-color: #FF6C34;
      &>div{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 40px 20px #fff,
        0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.1),
        0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.1);
        // opacity: 0;
    }
    }
    
    
    }

    }
}

.test{
  opacity: 0;
  animation-name: glowUp;
  animation-duration: 1s;
  // animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


@keyframes glowUp {
  0% {
    opacity: 0;
    box-shadow: 0 0 40px 20px #fff,
    0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.1),
    0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.1);
  }

  75%{
    opacity: 0.5;
    box-shadow: 0 0 40px 20px #fff,
    0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.5),
    0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.5);
  }
  100%{
    opacity: 0.8;
    box-shadow: 0 0 60px 40px #fff
    0 0 70px 40px rgba($color: #FFFD17, $alpha: 0.1),
    0 0 100px 60px rgba($color: #FF9C0A, $alpha: 0.1);
  }
}
